<!-- {% load staticfiles % } -->
<DOCTYPE html>
<html lang = 'en'>

<head>
	<br>
	<title>Visit The World Trade Center</title>
	<meta charset = "utf-8">
	<link rel='stylesheet' href="/static/css/styles.css" type='text/css'>
	<meta name = "viewport content - "width-device-width, initial-scale=1.0>
</head>
<body class = 'body'>
<img src="/static/img/twintowers.jpeg" width="124" height="142">

	<header class = 'mainhead'>
		<h1 style="color:black"><b>Visit The World Trade Center<b></h1>
		<nav><ul>
		<li class = 'active'><a href= '#'>Home</a></li>
<!-- 		<li><a href='#'>About</a></li>
 -->		<li><a href='/static/indexLocal.html'>Local Dining</a></li>
		<li><a href="/static/indexTours.html">Tours</a></li>
		<li><a href='/static/indexAbout.html'>About This Site</a></li>

	</header>
	<aside class = 'sideInfo'>
		<article>
			<h3></h3>
			<p>The World Trade Center is nested in the Financial District of Manhattan, New York.  Here you can visit many historic landmarks including the World Trade Center Memorial as well as many local attractions.  Here is a list of local favorites! Enjoy your stay. </p>
		</article>
	</aside>
	
	<div class = "mainContent">
		<div class = 'content'>
			<article class = "typicalArticle">
				<header>
					<h3><a href='#' title='latestpost'>Visit The World Trade Center Located In New York City</a></h3>
				<header>
				
				<footer>
					<p class= "postInfo"></p>
				</footer>
				
				<content>
					<p> 
					The World Trade Center is the vision of the future.  Located in the Financial District of Manhattan, the World Trade Center offers five new state-of-the-art skyscrapers, The National September 11th Memorial and Museum, and a Performing Arts Center. 
					Now is a wonderful time to become a part of the action and visit this historic landmark.</p>
				</content>
				

			</article>
		</div>
<br><br><br><br><br><br><br><br><br><br><br>
		<a href="http://www.wtc.com">TWC.com</a>
		<hr>
		<a href="http://www.911memorial.org/world-trade-center-history">  The World Trade Center Memorial</a>
		<hr>
		<a href="http://tributewtc.org">  Guided tours given by the 9/11 Tribute Center</a>
		<hr>
		<a href="http://worldtradecentertour.com">  Suggested private tours of the 9/11 Museum and Memorial</a>

<br><br>



		<footer class = 'mainFooter'>
			<p> Copyright &copy 2015</p>

		</footer>
		<br>
</body>
</html>	
	
</body>